header, article, footer {
    width: 960px;
    margin: 0 auto;
}

header nav > ul {
    list-style: none;
    overflow: hidden;
    padding: 5px 0;
    margin-bottom: 2px;
    border: 2px solid #000000;
    background: #cccccc;
}

header nav li {
    width: calc(25% - 4px);
    display: inline-block;
}

header li a {
    width: 100%;
    display: block;
    text-align: center;
    border: 2px solid #000000;
    padding: 8px;
    color: #000000;
    font-size: 28px;
    background: #ffffff;
    text-decoration: none;
}

header li:first-child a {
    border-width: 2px 2px 2px 0;
}

header li:last-child a {
    border-width: 2px 0 2px 2px;
}



section {
    padding: 10px 25px;
    border: 2px solid black;
}

h2 {
    text-align: center;
}

.subscribe-form {
    width: 250px;
    margin: 10px auto;
    text-align: right;
}

.subscribe-form label {
    /*width: 40px;*/
    /*margin: 10px 0;*/
    display: block;
}

.subscribe-form input[type=text], .subscribe-form input[type=email] {
    width: 180px;
}

.subscribe-form input[type=checkbox] {
    text-align: left;
}

.wrapper {
    border: 2px solid black;
}

.wrapper > div {
    width: 44%;
    padding: 10px 25px;
    display: inline-block;
}

.wrapper > div:first-child {
    background: #3a3a3a;
}

footer nav > ul {
    list-style: none;
}

footer nav li {
    padding: 5px;
}

footer nav a {
    color: #d02424;
}

footer .copyright {
    text-align: center;
}